body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header css*/
header {
  background-color: #add8e6;
  display: flex;
  min-height: 25px;
}

.nav-container {
  width: 1200px;
  height: 20px;
  margin: 20px auto;
  display: flex;
  background-color: #daa520;
  justify-content: space-between;
  align-items: center;
  border: 1px dashed black;
}

.block2 {
  width: 50%;
  border: 1px dashed black;
  text-align: center;
}

/* front section css */
.x-container {
  background-color: #00008b;
  display: flex;
}

.pink-block {
  width: 800px;
  height: 400px;
  background-color: #ee82ee;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px dashed black;
}

/*section 1*/
.x1-container {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.lightpink-block {
  width: 450px;
  height: 400px;
  background-color: #ee82ee;
  border: 1px dashed black;
}

.lightblue-block {
  width: 750px;
  height: 400px;
  background-color: #82b6ee;
  border: 1px dashed black;
}

/*section 2*/
.x2-container {
  background-color: #c4c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  padding: 50px 0 50px 0;
}

/*section 3 like section 1*/
